:root {
    --black: #42424b;
    --t-black: rgba(66, 66, 75, 0.95);    
    --white: white;
    --cofee: #54341f;
    --very-ligh-beige: #fff7f1;
    --ligh-beige: #f8e1cf;
    --beige: #b2927a;
    --dark-beige: #977260;
    --light-cofee: #d0a35e;
    --gray: #faf9f8;
    
    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 700;
    --fw-bolder: 900;
}
h3 {
    text-align: center;
}

.parallax-nuestromenu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 4rem;
}

.parallax-nuestromenu__h3 {
    color: var(--gray);
    font-size: 6rem;
    text-shadow: 4px 4px 4px black;
}

.parallax-nuestromenu__h2 {
    color: var(--gray);
    font-size: 8rem;
    line-height: 8rem;
    text-shadow: 4px 4px 4px black;
}

.parallax-nuestromenu__p {
    font-size: 2rem;
    color: var(--gray);
    margin-bottom: 4rem;
    text-shadow: 2px 2px 2px black;
}

.grid {
    display: flex;
    flex-direction: column;
    width: 96vw;
    padding: 4rem 2rem;
}

.grid-top, .grid-bottom {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.top-left, .top-right {
    width: 100%;
    height: 100vw;
}

.top-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.top-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.top-left-img1, 
.top-left-img2, 
.top-left-img3, 
.top-right-img1, 
.top-right-img2,
.bottom-left-img1,
.bottom-left-img2, 
.bottom-right-img1,
.bottom-right-img2,
.bottom-right-img3
 {
    display: flex;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.top-left-img1, .top-left-img2 {
    height: 28%;
}

.top-left-img3 {
    height: 44%;
}

.grid-top-left-img1, .grid-top-left-img2, .grid-top-left-img3, .grid-top-right-img1, .grid-top-right-img2 {
    width: 100%;
}

.grid-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.top-left {
    margin-right: 1rem;
}

.top-right {
    margin-left: 1rem;
}

.top-left-img2 {
    margin: 1rem 0;
}

.top-right-img1 {
    height: 66%;
}

.top-right-img2 {
    margin-top: 1rem;
    height: 34%;
}

.top-left-img1:hover img, 
.top-left-img2:hover img, 
.top-left-img3:hover img, 
.top-right-img1:hover img, 
.top-right-img2:hover img, 
.bottom-left-img1:hover img,
.bottom-left-img2:hover img,
.bottom-right-img1:hover img,
.bottom-right-img2:hover img,
.bottom-right-img3:hover img  {
    transform: scale(1.2);
}

.grid-img {
    transition: all .6s;

}

.top-left-img1-info {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    padding: 2rem;
}

.grid__p {
    color: var(--black);
    background-color: var(--gray);
    font-size: 2rem;
    padding: .4rem 1rem;
    display: inline-block;
}

.grid__h3 {
    color: var(--gray);
    text-shadow: 2px 2px 4px black;
    font-size: 4rem;
    font-weight: var(--fw-medium);
}

.grid-bottom {
    margin-top: 1rem;
}

.bottom-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-right: 1rem;
    height: 100vw;
    width: 100%;
}

.bottom-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: 1rem;
    height: 100vw;
    width: 100%;
}

.bottom-left-img1 {
    position: relative;
    height: 70%;
    margin-bottom: 1rem;
}

.bottom-left-img2 {
    height: 30%;
}

.bottom-left-img1-info {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    padding: 2rem;
}

.bottom-right-img1 {
    height: 30%;
}

.bottom-right-img2 {
    height: 30%;
    margin: 1rem 0;
}

.bottom-right-img3 {
    height: 60%;
}

.menus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 6rem 0 6rem;
    background-color: var(--gray);
}

.menus-imgs-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.menu-img-figure {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32%;
    margin: .4rem;
    overflow: hidden;
    cursor: pointer;
}

.menu-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .1s;
}

.menu-img-figure:hover .menu-img {
    transform: scale(1.01);
}
.menu-img-figure:hover {
    border: 1px solid var(--black);
}

.menus-overlay {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: black;
}

.menu-overlay-container1, .menu-overlay-container2, .menu-overlay-container3 {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
}

.menu-overlay-controls {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 2rem;
}

.menu-overlay__p {
    color: var(--gray);
    font-size: 32px;
    font-weight: var(--fw-light);
}

.menu-overlay-close {
    position: absolute;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
}

.menu-overlay__p-right {
    position: absolute;
    top: 50%;
    right: 2rem;
    cursor: pointer;
}

.menu-overlay__p-left {
    position: absolute;
    top: 50%;
    left: 2rem;
    cursor: pointer;
}

.menu-overlay__p-page-indicator {
    font-size: 1.4rem;
}

.menu-overlay-img {
    width: 80%;
}

@media (max-width: 750px) {
    .grid-top, .grid-bottom {
        flex-direction: column;
    }
    .top-left, .top-right, .bottom-left, .bottom-right {
        margin: 0;
        height: auto;
    }
    .top-right, .bottom-right {
        margin-top: 1rem;
    }
}

@media (max-width: 420px) {
    .grid {
        width: 100%;
        padding: 4rem .4rem;
    }
}

